extends main

block css

block body
    .row.bg-title
        .col-lg-3.col-md-4.col-sm-4.col-xs-12
            h4.page-title Conversation Detail
    .row
        .col-sm-12
            .white-box
                ul.chat-ul 
    .row
        .col-sm-12
            .white-box
                

block scripts
    script.
