extends main

block css

block body

    .row.bg-title
        .col-lg-3.col-md-4.col-sm-4.col-xs-12
            h4.page-title CONVERSATIONS
    .row
        .col-sm-12
            .white-box
                .table-responsive
                    table#conversationTable.table
                        thead
                            th Conversation ID
                            th First User
                            th Secound User
                            th Message
                        tbody
                             each conversation in conversations
                                tr(data-expanded='true')
                                    td 
                                        a(href='/conversation/' + conversation.conversationId) #{conversation.conversationId}
                                    td
                                        a(href='/users/' + conversation.user1.id) #{conversation.user1.name}
                                    td
                                        a(href='/users/' + conversation.user2.id) #{conversation.user2.name}
                                    td= conversation.lastMessId
block scripts
    script.
        $('#conversationTable').DataTable({
            "bLengthChange": false
        });

        