doctype html
html
  head
    title 404 Page not found
    link(href='css/style404.css', rel='stylesheet', type='text/css', media='all')
  body
    .content
      img(src='images/error-img.png', title='error')
      p
        span
          label O
          | hh.....
        | Looks like this page doesn't exist!
      a(href='/dashboard') HomePage