doctype html
html(lang="en")
  head
    title Home Page
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=Edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(href='css/bootstrap.css', rel='stylesheet')
    link(href='css/font-awesome.css', rel='stylesheet')
    link(href='css/customs/custom.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    
    block css
  body
    .navbar.navbar-inverse.set-radius-zero
      .container
        .navbar-header
          h2#navBrand(style='font-weight: 600; margin-top: 5px; position: absolute') 経営所感管理システム
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
            
    block body
    
    //- JS Libs
    script(src="js/jquery-1.11.1.js")   
    script(src="js/bootstrap.js") 

    block scripts