extends _layout

block css

block body
  section.menu-section
    .container
      .row
        .col-md-12
          #myNavbar.navbar-collapse.collapse
            ul#menu-top.nav.navbar-nav.navbar-left
              li
                a.menu-top-active(href='/') DBセットアップ
              li
                a(href='/screen2') 所感ダウンロード

  .content-wrapper
    .container
      .row
        .col-md-12.header-style
          h4.page-head-line 社員マスタセットアップ
      .row
        .panel.panel-default
          .panel-body
            form#empForm.form-horizontal(enctype="multipart/form-data" action="imp_emp" method="POST")
              .form-group
                label.m-l-18.control-label.col-md-2.col-sm-1.col-xs-1 期
                .col-md-1.col-sm-2.col-xs-3
                  input#emp_ki.form-control(type='number',name="emp_ki" maxlength='2' style="text-align:right")
              .form-group
                label.control-label.col-md-2 社員ファイル
                .col-md-5
                  .input-group
                    input#emp_file_path.form-control(type='text', name='file', disabled) 
                    .input-group-btn
                      label.input-group-btn
                        span.btn.btn-primary
                          |参照
                          input#emp_file(type="file" accept='.xls, .xlsx, .csv' name='emp_file' style="display: none;")
              .form-group
                .col-md-6.col-md-offset-2.panel-button
                  button#emp_submit.btn.btn-success(type='submit' style='margin-left: 5px' disabled) DBへのアップロード

  .content-wrapper
    .container
      .row
        .col-md-12.header-style
          h4.page-head-line 所感ファイルアップロード
      .row
        .panel.panel-default
          .panel-body
            form#shokanForm.form-horizontal(enctype="multipart/form-data" action="/" method="POST")
              .form-group
                label.control-label.col-md-2 WORD複数ファイル
                .col-md-5
                  .input-group
                    input#word_file_path.form-control(type='text', name='file', disabled) 
                    .input-group-btn
                      label.input-group-btn
                        span.btn.btn-primary
                          |参照
                          input#word_file(type="file" accept='.doc, .docx' name='words' style="display: none;" multiple)
                p#wordCount.control-label.col-md-5(style='color: red; text-align: left')
                  
              .form-group
                label.control-label.col-md-2 申請リストファイル
                .col-md-5
                  .input-group
                    input#excel_file_path.form-control(type='text', name='file', disabled) 
                    .input-group-btn
                      label.input-group-btn
                        span.btn.btn-primary
                          |参照
                          input#excel_file(type="file" accept='.xls, .xlsx, .csv' name='excel' style="display: none;")
              .form-group
                .col-md-6.col-md-offset-2.panel-button
                  button#shokan_submit.btn.btn-success(type='submit' style='margin-left: 5px' disabled) DBへのアップロード
  
  div#alertModal.modal.fade(role='dialog')
    div.modal-dialog
      div.modal-content
        div.modal-header
          p(style='margin-bottom: 0') 情報
        div#alertBody.modal-body
          p#alertContent(style='text-align: center; margin-top: 20px') 削除したいユーザを選択してください。
        div.modal-footer
          button#deleteSubmit.btn.btn-primary(type='button', data-dismiss='modal') OK

block scripts
  script.
    var excelMime = ['application/vnd.ms-excel', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet']
    var docMime = ['application/msword', 'application/vnd.openxmlformats-officedocument.wordprocessingml.document']

    $('#emp_ki').on('change', function() {
      if ($('#emp_file_path').val() && $('#emp_ki').val() > 0) {
        $('#emp_submit').attr('disabled', false);
      } else {
        $('#emp_submit').attr('disabled', true);
      }
    });

    $('#emp_file').on('change', function(e) {
      if (this.files[0]) {
        if (excelMime.indexOf(this.files[0].type) !== -1) {
          $('#emp_file_path').val($('#emp_file').val());    

          if ($('#emp_file_path').val() && $('#emp_ki').val() > 0) {
            $('#emp_submit').attr('disabled', false);
          }
        } else {
          $('#emp_file_path').val('');
          $('#alertContent').text('ファイル形式が正しくありません。再度確認してください。')
          $('#alertModal').modal();
          $('#emp_submit').attr('disabled', true);
        }
      }
    });

    $('#word_file').on('change', function(e) {
      var files = this.files;
      var isFail = false;
      for (var i = 0; i < files.length; i++) {
        if (docMime.indexOf(files[i].type) === -1) {
          isFail = true
          break;
        }
      }

      if (!isFail) {
        $('#word_file_path').val(/^((.+)[\/\\])([^/\\]+)$/i.exec($('#word_file').val().split(',')[0])[1])
        $('#wordCount').text(e.target.files.length + ' ファイルを選択しました。')

        if ($('#word_file_path').val() !== '' && $('#excel_file_path').val() !== '') {
          $('#shokan_submit').attr('disabled', false);          
        }
      } else {
        $('#word_file_path').val('');
        $('#wordCount').text('○○ファイルを選択しました。');
        $('#alertContent').text('ファイル形式が正しくありません。再度確認してください');
        $('#alertModal').modal();
        $('#shokan_submit').attr('disabled', true);
      }
    });

    $('#excel_file').on('change', function (e) {
      if (this.files[0]) {
        if (excelMime.indexOf(this.files[0].type) !== -1) {
          $('#excel_file_path').val($('#excel_file').val())  

          if ($('#word_file_path').val() !== '' && $('#excel_file_path').val() !== '') {
            $('#shokan_submit').attr('disabled', false);          
          }
        } else {
          $('#excel_file_path').val('');
          $('#alertContent').text('ファイル形式が正しくありません。再度確認してください')
          $('#alertModal').modal();
          $('#shokan_submit').attr('disabled', true);
        }
      }
    });

    $('#empForm').submit(function(e) {     
      e.preventDefault();
       
      var formData = new FormData();
      formData.append('emp_ki', $('#emp_ki').val())
      formData.append('emp_file', $('#emp_file')[0].files[0])
      $.ajax({
        method: 'POST',
        url: '/imp_emp',
        data: formData,
        contentType: false,
        cache : false,
        processData: false
      }).done(function(response) {
        if (response.success) {
          var log = $("<a href='/logs/" + response.logs.name + "' download target='_blank'>" + response.logs.name + "</a>");
          $('#alertContent').text('DBへのアップロードが完了しました。')
          $('#alertContent').append($('<br/>'), log)
          $('#alertModal').modal();
        } else {
          if (response.error === 'Invalid') {
            $('#alertContent').text('ファイル形式が正しくありません。再度確認してください')
            $('#alertModal').modal();
          } else {
            var log = $("<a href='/logs/" + response.logs.name + "' download target='_blank'>" + response.logs.name + "</a>");
            $('#alertContent').text(response.error)
            $('#alertContent').append($('<br/>'), log)
            $('#alertModal').modal();
          }
        }
      })
    });

    $('#shokanForm').submit(function(e) {   
      e.preventDefault();

      var formData = new FormData();
      for (var i = 0; i < $('#word_file')[0].files.length; i++) {
        formData.append('words', $('#word_file')[0].files[i]);
      }
      formData.append('excel', $('#excel_file')[0].files[0])

      $.ajax({
        method: 'POST',
        url: '/',
        data: formData,
        contentType: false,
        cache : false,
        processData: false
      }).done(function(response) {
        if (response.success) {
          var log = $("<a href='/logs/" + response.logs.name + "' download target='_blank'>" + response.logs.name + "</a>");
          $('#alertContent').text('DBへのアップロードが完了しました。')
          $('#alertContent').append($('<br/>'), log)
          $('#alertModal').modal();
        } else {
          if (response.error === 'Invalid') {
            $('#alertContent').text('ファイル形式が正しくありません。再度確認してください')
            $('#alertModal').modal();
          } else {
            var log = $("<a href='/logs/" + response.logs.name + "' download target='_blank'>" + response.logs.name + "</a>");
            $('#alertContent').text(response.error)
            $('#alertContent').append($('<br/>'), log)
            $('#alertModal').modal();
          }
        }
      })
    })