doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title PikerFree
    link(rel='icon', type='image/png', sizes='16x16', href='menu/plugins/images/favicon.png')
    link(rel='stylesheet prefetch', href='css/font-awesome.css')
    link(rel='stylesheet', href='css/style.css')
  body
    .container
      .info
        h1 Pikerfree
        span
          | Made with 
          i.fa.fa-heart
          |  by Piker
    .form
      .thumbnail
        img(src='images/logo.png')
      form.register-form(action='register' method='POST')
        input(type='text',name='username',placeholder='Username')
        input(type='password',name='password', placeholder='Password')
        input(type='text',name='mail',placeholder='Email address')
        button#btnCreate(type='submit') create
        p.message
          | Already registered? 
          a(href='#') Sign In
      form.login-form(method="POST")
        input#loginUserName(type='text',name='username', placeholder='Username')
        input#loginPassword(type='password',name='password', placeholder='Password')
        button#btnLogin(type='submit') login
        p.message
          | Not registered? 
          a(href='#') Create an account
    script(src='js/jquery-1.11.1.js')
    script(src='js/index.js')
    script.
        $('#btnLogin').click(()=>{
           
        });
