doctype html
html
  head
    title PikerFree
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    script(type='application/x-javascript').
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(href='css/stylemenu.css', rel='stylesheet', type='text/css')
    link(href='css/style-responsive.css', rel='stylesheet')
    link(rel='stylesheet', href='css/font.css', type='text/css')
    link(href='css/font-awesome.css', rel='stylesheet')
    link(href='css/datatables.min.css' rel='stylesheet' type='text/css')
    script(src='js/jquery2.0.3.min.js')
    script(src='js/datatables.min.js')
    block css
  body
    section#container
      header.header.fixed-top.clearfix
        .brand
          a.logo(href='index.html')
            | Admin
          .sidebar-toggle-box
            .fa.fa-bars
        #top_menu.nav.notify-row
        .top-nav.clearfix
          ul.nav.pull-right.top-menu
            li.dropdown
              a.dropdown-toggle(href='/logout',style='Padding-left:5px')
                span.username  Log out
      aside
        #sidebar.nav-collapse
          // sidebar menu start
          .leftside-navigation
            ul#nav-accordion.sidebar-menu
              li
                a(href='index.html')
                  i.fa.fa-dashboard
                  span Post
              li.sub-menu
                a(href='javascript:;')
                  i.fa.fa-book
                  span Conversation
              li
                a(href='fontawesome.html')
                  i.fa.fa-bullhorn
                  span User
      section#main-content
        block body
    script(src='js/bootstrap.js')
    script(src='js/jquery.dcjqaccordion.2.7.js')
    script(src='js/scripts.js')
    script(src='js/jquery.slimscroll.js')
    script(src='js/jquery.nicescroll.js')
    script(src='js/jquery.scrollTo.js')
    block scripts
