extends menu

block css

block body
    section.wrapper
        .table-agile-info
            .panel.panel-default
                .panel-heading
                    | POST LIST
                div
                    table.table(ui-jq='footable')
                        thead
                            tr
                                th(data-breakpoints='xs')
                                    a(href='/edit') Title
                                th Category
                                th Author
                                th(data-breakpoints='xs') Description
                                th(data-breakpoints='xs') Date
                        tbody#postBody
                            tr(data-expanded='true')
                                td Old laptop
                                td Dennise
                                td Dung em
                                td I am the Frozen Throne. I come to the web green
                                td 2017/12/22
                            tr(data-expanded='true')
                                td Old laptop
                                td Dennise
                                td Dung em
                                td I am the Frozen Throne. I come to the web green
                                td 2017/12/22
                            tr(data-expanded='true')
                                td Old laptop
                                td Dennise
                                td Dung em
                                td I am the Frozen Throne. I come to the web green
                                td 2017/12/22
                            tr(data-expanded='true')
                                td Old laptop
                                td Dennise
                                td Dung em
                                td I am the Frozen Throne. I come to the web green
                                td 2017/12/22
block scripts