extends main

block css

block body
    .row.bg-title
        .col-lg-3.col-md-4.col-sm-4.col-xs-12
            h4.page-title Profile page
        .col-lg-9.col-sm-8.col-md-8.col-xs-12
        // /.row
        // .row
    .row
        .col-md-4.col-xs-12
            .white-box
                .user-bg
                    img(width='100%', alt='user', src='menu/plugins/images/large/img1.jpg')
                    .overlay-box
                        .user-content
                            a(href='javascript:void(0)')
                            img.thumb-lg.img-circle(src='menu/plugins/images/users/genu.jpg', alt='img')
                            h4.text-white User Name
                            h5.text-white info@myadmin.com
                .user-btm-box
                    .col-md-4.col-sm-4.text-center
                        p.text-purple
                            i.ti-facebook
                        h1 258
                    .col-md-4.col-sm-4.text-center
                        p.text-blue
                            i.ti-twitter
                        h1 125
                    .col-md-4.col-sm-4.text-center
                        p.text-danger
                            i.ti-dribbble
                        h1 556
        .col-md-8.col-xs-12
            .white-box
                form.form-horizontal.form-material
                    .form-group
                        label.col-md-12 Full Name
                        .col-md-12
                            input.form-control.form-control-line(type='text', placeholder='Johnathan Doe')
                    .form-group
                        label.col-md-12(for='example-email') Email
                        .col-md-12
                            input#example-email.form-control.form-control-line(type='email', placeholder='johnathan@admin.com', name='example-email')
                    .form-group
                        label.col-md-12 Password
                        .col-md-12
                            input.form-control.form-control-line(type='password', value='password')
                    .form-group
                        label.col-md-12 Phone No
                        .col-md-12
                            input.form-control.form-control-line(type='text', placeholder='123 456 7890')
                    .form-group
                        label.col-md-12 Message
                        .col-md-12
                            textarea.form-control.form-control-line(rows='5')
                    .form-group
                        label.col-sm-12 Select Country
                        .col-sm-12
                            select.form-control.form-control-line
                                option London
                                option India
                                option Usa
                                option Canada
                                option Thailand
                    .form-group
                        .col-sm-12
                            button.btn.btn-success Update Profile
block scripts