extends _layout

block css

block body
  section.menu-section
    .container
      .row
        .col-md-12
          .navbar-collapse.collapse
            ul#menu-top.nav.navbar-nav.navbar-left
              li
                a(href='/') DBセットアップ
              li
                a.menu-top-active(href='/screen2') 所感ダウンロード

  .content-wrapper
    .container
      .row
        .col-md-12.header-style
          h4.page-head-line 所感ダウンロード
      .row
        .panel.panel-default
          .panel-body
            form.form-horizontal(enctype="multipart/form-data" method="POST")
              .form-group
                label.m-l-18.control-label.col-md-2.col-sm-1.col-xs-1 期
                .col-md-1.col-sm-2.col-xs-3
                  input#template_ki_no.form-control(type='number',name="template_ki_no" maxlength='2' style="text-align:right")
              .form-group
                label.control-label.col-md-2 表紙フォーマット
                .col-md-5
                  .input-group
                    input#template_path.form-control(type='text',name='file', disabled) 
                    .input-group-btn
                      label.input-group-btn
                        span.btn.btn-primary
                          |参照
                          input#templateBtn(type="file" ,name='template_file',accept='.xlsx' style="display: none;")
              .form-group
                .col-md-6.col-md-offset-2.panel-button
                  button#buttonSubmit.btn.btn-success(type='submit',disabled='true', style="margin-left:5px") ダウンロード
  div#alertModal.modal.fade(role='dialog')
    div.modal-dialog
      div.modal-content
        div.modal-header
          p(style='margin-bottom: 0') エラー
        div.modal-body
          p#alertContent(style='text-align: center; margin-top: 20px') 削除したいユーザを選択してください。
        div.modal-footer
          button#deleteSubmit.btn.btn-primary(type='button', data-dismiss='modal') OK  
block scripts
  script.
    var excelMime = ['application/vnd.ms-excel', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'];
    $('#templateBtn').on('change', function (e) {
      $('#template_path').val($('#templateBtn').val());
      if($(this).val() && $('#template_ki_no').val() && !isNaN($('#template_ki_no').val()) && parseInt($('#template_ki_no').val()) > 0){
         $("#buttonSubmit").attr('disabled', false);
      }else{
        $("#buttonSubmit").attr('disabled', true);
      }
      //Check file type
      if(excelMime.indexOf(this.files[0].type) == -1){
        $('#alertContent').text('ファイル形式が正しくありません。再度確認してください。')
        $('#alertModal').modal();
        $('#buttonSubmit').attr('disabled', true);
      }
    });
    
    var error = '!{ error }';
    if(error){
      $('#alertContent').text(error);
      $('#alertModal').modal();
    }
    // check
    $('#template_ki_no').on('change',function(e){
      if($(this).val() && $('#template_path').val() && !isNaN($(this).val()) && parseInt($(this).val()) > 0){
          $("#buttonSubmit").attr('disabled', false);
      }else{
          $("#buttonSubmit").attr('disabled', true);
      }
    });
  

   